/*  Custom CSS for 
	Podcast Generator
*/

/* Orange: #dd5f13 */
/* Black: #222 */
/* Grey: #6f6f6f */
/* Light grey: #ddd */

body {
  padding-top: 75px;
}

.episode_image {
	width:80%;
	margin-bottom:10px;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

#bs-example-navbar-collapse-1 > .navbar-right > li {
  display: inline-flex !important;
}

.torqdly a {
  color: #dd5f13;
}
.torqdly a.btn {
  color: white !important;
}
.torqdly a:hover, .torqdly a:focus {
  color: orangered;
  transition: all .2s;
}
.torqdly .navbar-default {
  background-color: #222;
}
.torqdly .jumbotron h1 {
  font-size: 3.25rem;
}
.torqdly .jumbotron p {
  font-size: 2rem;
  margin: 2rem 0 3rem;
}
.torqdly .container .jumbotron, 
.torqdly .container-fluid .jumbotron {
  padding: 1rem 0;
  background: none;
  border-radius: 0;
  border-bottom: solid .1rem #ddd;
}
.torqdly .navbar-default .navbar-nav>li>a:hover,
.torqdly .navbar-default .navbar-nav>li>a:focus {
  color: #dd5f13;
}
.torqdly .episode_title {
  margin-bottom: 1.25rem;
  font-weight: bold;
}